.front-header{
  position: relative;
  display: block;
  margin: 0 auto;
  width: fit-content; 
}

.project{
  position: relative;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  margin-top: 10px;
  border-radius: 15px;
  width: fit-content; 
}

.projects{
  padding: 1rem;
}



.project,
.front-header{
  padding: 1.5rem;  
}

.project:hover{
  background-color: #06f132;
}
